.postContainer{
    width: 468px;
    height: 888px;
    border: 1px solid #dbdbdb;
    background-color:white;
    margin-top: 20px;
    margin-left:95px;
    border-radius:1.5%;
}

.postHeader{
    height:60px;
    border-bottom: 1px solid #dbdbdb;
    display:flex;
}
.postAva{
    min-width: 30px;
    min-height:30px;
    margin: 10px;
}
.postUserName{
    font-weight: bold;
    margin-top: 15px;
}