.MainPageNav {
    height: 54px;
    background-color: white;
    border-bottom: 1px solid #ddbbdd;
   
}
.navbarLogo {
    margin-top: 10px;

}
.navBImage {
   margin:15px 
}

.navSearchBar{
    height: 30px;
    width: 215px;
    margin-top: 10px;
    border: 1px solid #dbdbdb;
    text-align: center;
    background-color: #fafafa;
    border-radius: 5px;
}