.MainPageNav {
    height: 60px;
    background-color: white;
    border-bottom: 1px solid #ddbbdd;
   
}
.navbarLogo {
    width: 110px;
    margin-top: 13px;
    margin-right: 80px;

}
.navBImage {
   margin:13px ;
   
}

.navSearchBar{
    height: 32px;
    width: 260px;
    margin-top: 12px;
    border: 1px solid #efefef;
    font-weight: 1;
    text-decoration: #a6a7b0;
    text-align: left;
    font-size: 15px;
    font-family: inherit;
    text-align:center;
    background-color: #efefef;
    border-radius: 8px;
}