/*Body to change overal background setting*/
body {
    background-color: #FAFAFA;
}
/*Login Grid attributes*/
.loginpage_main {
    display:flex;
    margin-top: 20px;
    margin-left: -47px;
}
/*Login Logo attributes*/
.loginpageLogo {
    width: 190px;
    margin-top: 35px;
    margin-left:5px;
}
/*Login right panel attributes*/
.loginpage_rightcomponent{
    text-align: center;
    margin-top: 27px;
    padding-bottom: 25px;
    width: 335px;
    background-color: #ffffff;
    border: 1px solid #DBDBDB;
}
/*Login text box attributes*/
.loginPageText {
    margin:3px;
    width: 250px;
    height: 35px;
    border: 1px solid #DBDBDB;
    background-color: #FAFAFA;
    padding-left: 10px;
    border-radius: 5px;
}
/*Login button attributes*/
.loginButton {
    cursor: pointer;
    margin-top: 10px;
    width: 260px;
    height: 30px;
    background-color: #0095f6;
    border: 1px solid #0095f6;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    
}

/*Login textbox + button frame attributes*/
.loginPageSignIn {
    margin-top:25px;
}

/*Login OR attributes*/
.loginOrDiv{
    display:flex;
    justify-content: center;
}
/*Login OR left stick attributes*/
.loginOrLeftStick{
    margin-top:20px;
    width: 100px;
    height: 1px;
    background-color:#DBDBDB;
    border: 1px solid white;
}
/*Login OR right stick attributes*/
.loginOrRightStick{
    margin-top:20px;
    width: 100px;
    height: 1px;
    background-color:#DBDBDB;
    border: 1px solid white;
}
/*Login OR word attributes*/
.loginOrWord{
    font-size: 12px;
    margin: 0px 19px;
    font-weight: bold;
    color: #929291;
    margin-top: 15px;
}
/*Login with facebook attributes*/
.loginWithFacebookLogo{
    margin-top:10px;
    margin-right:10px;
    width:15px;
    height:15px;
}
/*Login with facebook text attributes*/
.loginWithFacebookText{
    margin-top: 10px;
    color:
    #355a8e;
    font-weight: bolder;
    font-family: sans-serif;
    font-size:13px;
}
.loginWithFacebook{
    cursor: pointer;
    margin-top:13px;
    display:flex;
    justify-content: center;
}
.loginForgotPass{
    cursor: pointer;
    color: rgba(var(--fe0,0,55,107),1);
    font-size: 12px;
    line-height: 14px;
    margin-top:25px;
    text-align: center;

}

.loginPageSignUpOptions{
    display: flex;
    text-align: center;
    margin-top: 12px;
    height: 59px;
    width: 335px;
    background-color: #ffffff;
    border: 1px solid #DBDBDB;
    justify-content: center;
}
.loginPageSignUpPrompt {
    cursor: pointer;
    margin-top: 20px;
    font-size:14px;
}

.loginPageSignUpText{
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
    font-size:14px;
    font-weight:bold;
    color: #0095f6;
}

.loginPageDownloadSection {
    text-align: center;
    height: 105px;
    width: 350px;
    margin-top:20px;
}

.loginPageOption{
    margin-top:20px;

}
.loginPagedwimg {
    margin: 5px;
}